{% extends 'base.html.twig' %}

{% block title %}Hoodtrooper map{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('hoodtrooper_map') }}
    {{ encore_entry_link_tags('hoodtrooper_styles') }}

{% endblock %}

{% block body %}

<div class="map-wrapper">
    <div class="map__button">
        <div class="loader">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="text-center py-3">
            <p>Loading Hoodtrooper map...</p>
        </div>
    </div>
    <div id="mapModal" class="map__modal">
        <div class="map__container">
            <div class="map__close">
                {% if app.user %}
                    <button class="btn btn-dark mx-1" data-toggle="modal" data-target="#hoodtrooperModal" data-modal-title="{{ show_all_places_title }}" data-modal-url="{{ path('hoodtrooper_place_index') }}">{{ show_all_places_title }}</button>
                    <a class="btn btn-light mx-1" href="{{ path('app_logout') }}" onclick="return confirm('Are you sure you want to log out?');">Logout</a>
                {% else %}
                    <button class="btn btn-dark mx-1" data-toggle="modal" data-target="#hoodtrooperModal" data-modal-title="{{ sign_in_title }}" data-modal-url="{{ path('app_login') }}">{{ sign_in_title }}</button>
                    <button class="btn btn-light mx-1" data-toggle="modal" data-target="#hoodtrooperModal" data-modal-title="{{ sign_up_title }}" data-modal-url="{{ path('app_register') }}">{{ sign_up_title }}</button>
                {% endif %}
{#                <button id="mapClose" class="close__button" type="button"></button>#}
            </div>
            <div id="modal"></div>
            <div id="map"></div>
            <div id="mapMenu" class="map__menu">
                <div class="menu__list">
                    <button id="toggleMapMenu" class="toggle__map opened" type="button"><span></span><span></span></button>
                    <div class="menu__item item__filter">
                        <div class="category__select">
                            <div id="current-category" class="current__category"></div>
                            <div id="category-expanded-list" class="expanded__wrapper"></div>
                        </div>
                    </div>
                    <div class="menu__item item__summary">
                        <div id="summary-list"></div>
                    </div>
                    <div class="menu__item item__categories">
                        <div id="category-list"></div>
                    </div>
                    <div class="menu__item item__types">
                        <div id="type-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="hoodtrooperModal" tabindex="-1" role="dialog" aria-labelledby="hoodtrooperModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close clear-modal-data" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-none modal-loader pb-3">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="inside">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('hoodtrooper_map') }}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdg7mYxGd6QjFmAIo5gmy9TQb0ac1XXdA"></script>

{% endblock %}
