{% form_theme form 'bootstrap_4_layout.html.twig' %}

{#{{ form_start(form, {attr: {class: 'ajax-form', action: path(formActionUrlVal) } })  }}#}
{{ form_start(form, {attr: {class: 'ajax-form', action: formActionUrlVal } })  }}
{#    {{ form_widget(form) }}#}
    {% if form_errors(form) %}
        <div class="alert alert-danger">{{ form_errors(form) }}}</div>
    {% endif %}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.private_area_place) }}
    {{ form_row(form.discover_date) }}
    {{ form_row(form.recommendation_level) }}
    {{ form_row(form.image) }}
    {% if latVal %}
        {{ form_row(form.coordinate_lat, {attr: {disabled: 'disabled', 'hidden': true, value: latVal } }) }}
    {% else %}
{#        {{ form_row(form.coordinate_lat, {attr: {disabled: 'disabled'} }) }}#}
        {{ form_row(form.coordinate_lat, {attr: {} }) }}
    {% endif %}
    {% if lngVal %}
        {{ form_row(form.coordinate_lng, {attr: {disabled: 'disabled', 'hidden': true, value: lngVal } }) }}
    {% else %}
        {#        {{ form_row(form.coordinate_lng, {attr: {disabled: 'disabled'} }) }}#}
        {{ form_row(form.coordinate_lng, {attr: {} }) }}
    {% endif %}

    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
