<div class="tooltip__container text-center">
        <span class="border__top" style="background-color: #a35256"></span>
        <div class="d-flex justify-content-center pb-2 pr-1">
                <button type="button" class="close close-tooltip" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="tooltip__header">
            {% if app.user %}
                <p>Is there something interesting?</p>
            {% else %}
                <p>Wanna be a Hoodtropper?</p>
            {% endif %}
        </div>
        <div class="tooltip__body">
            {% if app.user %}

            {% else %}
                <p class="font-weight-bold">Is this a nice place?</p>
                <p>Please, sign in to add some info about that place.</p>
                <button class="btn btn-sm btn-dark mb-2" data-modal-url="{{ path('app_login') }}" data-modal-title="{{ sign_in_title }}" data-toggle="modal" data-target="#hoodtrooperModal">{{ sign_in_title }}</button>
                <p>Doesn't have an account - sign up now!</p>
                <button class="btn btn-sm btn-dark" data-modal-url="{{ path('app_register') }}" data-modal-title="{{ sign_up_title }}" data-toggle="modal" data-target="#hoodtrooperModal" >{{ sign_up_title }}</button>
            {% endif %}
        </div>

        <div class="tooltip__footer">
            {% if app.user %}
                <button class="btn btn-sm btn-success" data-modal-url="{{ path('hoodtrooper_place_new') }}?lat={{ lat }}&lng={{ lng }}" data-modal-title="{{ add_new_place_title }}" data-toggle="modal" data-target="#hoodtrooperModal">{{ add_new_place_title }}</button>
            {% else %}
            {% endif %}
        </div>
</div>
