{% extends 'base.html.twig' %}

{% block title %}HoodtrooperPlace{% endblock %}

{% block body %}
    <h1>HoodtrooperPlace</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hoodtrooper_place.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ hoodtrooper_place.title }}</td>
            </tr>
            <tr>
                <th>coordinateLat</th>
                <td>{{ hoodtrooper_place.coordinateLat }}</td>
            </tr>
            <tr>
                <th>coordinateLng</th>
                <td>{{ hoodtrooper_place.coordinateLng }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hoodtrooper_place.description }}</td>
            </tr>
            <tr>
                <th>Recommendation level</th>
                <td>{{ hoodtrooper_place.recommendationLevel }}</td>
            </tr>
            <tr>
                <th>Private area place</th>
                <td>{{ hoodtrooper_place.privateAreaPlace ? 'yes' : 'no' }}</td>
            </tr>
            <tr>
                <th>Discover date</th>
                <td>{{ hoodtrooper_place.discoverDate|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <p>
                        {{ hoodtrooper_place.placeImageFilename }}
                    </p>
                    {#                    <img src="{{ asset(hoodtrooper_place_images_directory ~ '/' ~ hoodtrooper_place.placeImageFilename) }}"/>#}
                    <img src="{{ '/uploads/hoodtrooper_places_images/' ~ hoodtrooper_place.placeImageFilename }}"/>
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_author %}
        <div class="d-flex flex-row">
            <div>
                <button class="btn btn-primary reload-modal-content" data-modal-title="Edit" data-modal-url="{{ path('hoodtrooper_place_edit', {'id': hoodtrooper_place.id}) }}">Edit</button>
            </div>
            <div>
                {{ include('hoodtrooper_place/_delete_form.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}
