{#{% extends 'base.html.twig' %}#}

{#{% block title %}HoodtrooperPlace{% endblock %}#}

{% block body %}
    {% if hoodtrooper_place.placeImageFilename  %}
        <div class="pb-2">
            <img class="image-hoodtrooper" src="{{ '/uploads/hoodtrooper_places_images/' ~ hoodtrooper_place.placeImageFilename }}"/>
        </div>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ hoodtrooper_place.title }}</td>
            </tr>
            <tr>
                <th>Discover date</th>
                <td>{{ hoodtrooper_place.discoverDate|date('d-m-Y') }}</td>
            </tr>
            <th>Is this place public?</th>
            <td>
                {% if hoodtrooper_place.privateAreaPlace %}
                    ❌
                {% else %}
                    ✅
                {% endif %}
            </td>
            </tr>
            <tr>
                <th>Recommendation level</th>
                <td>{{ hoodtrooper_place.recommendationLevel }}</td>
            </tr>
            <tr>
            <tr>
                <th>Description</th>
                <td>{{ hoodtrooper_place.description }}</td>
            </tr>
        </tbody>
    </table>



    <div class="place_comments">
        {{ include('/hoodtrooper_place/place_comments.html.twig') }}
    </div>

{#    {% if is_author %}#}
{#        <div class="row">#}
{#            <div class="col-6 text-left">#}
{#                <button class="btn btn-primary reload-modal-content" data-modal-title="Edit - {{ hoodtrooper_place.title }}" data-modal-url="{{ path('hoodtrooper_place_edit', {'id': hoodtrooper_place.id}) }}">Edit</button>#}
{#            </div>#}
{#            <div class="col-6 text-right">#}
{#                {{ include('hoodtrooper_place/_delete_form.html.twig') }}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}
